{% style %}
  .content_holder{
    display: none;
  }
  .tab.active {
    background: #920304;
    border-color: #920304 !important;
}
{% endstyle %}  
<div class="cart_drawer_tabs">
         <h3>Choose your impact</h3>
         <p>Select a nonprofit and 1% of your purchase will be donated, at no extra cost.</p>
         <div class="btns_holder tabs">
          <div class="tab" tab="one">
           <img src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/education-black.png?v=1672387742">
           <img class="active" src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/white1.png?v=1672387913">
          </div>
          <div class="tab" tab="two">
           <img src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/mental_health_icon_f1e71666-1e8a-4c85-8d1d-069ebde0e75b.png?v=1672387742">
           <img class="active" src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/white2.png?v=1672387913">
          </div>
          <div class="tab" tab="three">
           <img src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/Racial_Equity_Icon_NEW.png?v=1672387742">
           <img class="active" src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/white3.png?v=1672387913">
          </div>
          <div class="tab" tab="four">
           <img src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/disability-black.png?v=1672387947">
           <img class="active" src="https://cdn.shopify.com/s/files/1/0689/6366/4160/files/white4.png?v=1672387913">
          </div>
         </div>
         <div class="tab_content flex">
            <div class="content_holder" id="one"> 
              <div class="top flex">
               <span>Disability Support</span><span>Powered by Beam</span>
              </div>
              <p>Fund a national climbing trip for 24 adaptive climbers via Paradox Support</p>
              <div class="bar flex">
               <div class="progress-bar-container flex">
                <div class="progress-bar" style="width: 37%;"></div>
              </div>
              <span class="text">37% funded</span>
              </div>
            </div>
            <div class="content_holder" id="two"> 
              <div class="top flex">
               <span>Disability Support</span><span>Powered by Beam</span>
              </div>
              <p>Fund a 1 month program for students and teachers to build skills for safety and respect in 10 school districts via </p>
              <div class="bar flex">
               <div class="progress-bar-container flex">
                <div class="progress-bar" style="width: 37%;"></div>
              </div>
              <span class="text">37% funded</span>
              </div>
            </div>
           <div class="content_holder" id="three"> 
              <div class="top flex">
               <span>Disability Support</span><span>Powered by Beam</span>
              </div>
              <p>Fund 700 hours of free telehealth therapy for a child or teen via </p>
              <div class="bar flex">
               <div class="progress-bar-container flex">
                <div class="progress-bar" style="width: 37%;"></div>
              </div>
              <span class="text">37% funded</span>
              </div>
            </div>
           <div class="content_holder" id="four"> 
              <div class="top flex">
               <span>Disability Support</span><span>Powered by Beam</span>
              </div>
              <p>Fund a national climbing trip for 24 adaptive climbers via Paradox Support</p>
              <div class="bar flex">
               <div class="progress-bar-container flex">
                <div class="progress-bar" style="width: 37%;"></div>
              </div>
              <span class="text">37% funded</span>
              </div>
            </div>
         </div>   
        </div>