{% render 'product_hover_css' %}
<div class="mega-menu__product js-mega-menu__product" style="display: none;">
  <div class="loader mega-menu__loader js-mega-menu-loader loader--black" style="display: block;">
	
</div>

  <div class="mega-menu__product-wrapper js-mega-menu__wrapper" style="">
    <div class="mega-menu__product-img-wrapper">
      <img class="mega-menu__product-img js-mega-menu__img" src="//cdn.shopify.com/s/files/1/0175/8496/products/color_tan_1_elliot_balmoral_boots_365x365.jpg?v=1618340216" alt="" style="">
    </div>
    <div class="color-picker js-mega-menu-color-picker">
        <div class="color-item">
          <input id="mega-menu-color-black" type="radio" name="color" value="black" data-name="black" class="color-item__input js-mega-menu-options-color-radio" checked="checked">
          <label for="mega-menu-color-black" class="js-mega-menu-options-color color-item__label color-item__label--mega-menu " data-color="black" title="black">
            <div>              
        <span class="color-black"></span>      
            </div>
          </label>
        </div>      
        <div class="color-item">
          <input id="mega-menu-color-bordeaux" type="radio" name="color" value="bordeaux" data-name="bordeaux" class="color-item__input js-mega-menu-options-color-radio">
          <label for="mega-menu-color-bordeaux" class="js-mega-menu-options-color color-item__label color-item__label--mega-menu " data-color="bordeaux" title="bordeaux">
            <div>              
        <span class="color-bordeaux"></span>      
            </div>
          </label>
        </div>      
        <div class="color-item">
          <input id="mega-menu-color-tan" type="radio" name="color" value="tan" data-name="tan" class="color-item__input js-mega-menu-options-color-radio" checked="checked">
          <label for="mega-menu-color-tan" class="js-mega-menu-options-color color-item__label color-item__label--mega-menu " data-color="tan" title="tan">
            <div>              
        <span class="color-tan"></span>      
            </div>
          </label>
        </div>      
        <div class="color-item">
          <input id="mega-menu-color-oak" type="radio" name="color" value="oak" data-name="oak" class="color-item__input js-mega-menu-options-color-radio">
          <label for="mega-menu-color-oak" class="js-mega-menu-options-color color-item__label color-item__label--mega-menu " data-color="oak" title="oak">
            <div>              
        <span class="color-oak"></span>      
            </div>
          </label>
        </div>      
        <div class="color-item">
          <input id="mega-menu-color-brown" type="radio" name="color" value="brown" data-name="brown" class="color-item__input js-mega-menu-options-color-radio">
          <label for="mega-menu-color-brown" class="js-mega-menu-options-color color-item__label color-item__label--mega-menu " data-color="brown" title="brown">
            <div>              
        <span class="color-brown"></span>      
            </div>
          </label>
        </div>
      </div>

    <div class="mega-menu__product-info-wrapper">
      <div class="mega-menu__product-info">
        <h2 class="mega-menu__product-title js-mega-menu__title">Elliot Balmoral Boots</h2>
        <span class="mega-menu__product-type js-mega-menu__type">full-grain leather</span>
        <span class="mega-menu__product-price js-mega-menu__price">$239</span>
      </div>
      <div class="mega-menu__product-variables">
        <h2 class="mega-menu__product-size" style="display: none;">
          Size <a href="/products/elliot-balmoral-boots?whats-my-size=true" class="mega-menu__product-instructions js-mega-menu__size">What's my size?</a>
        </h2>
        <div class="select-wrapper">
          <select class="button select mega-menu__product-variants js-mega-menu-size"><option value="7">7</option><option value="8">8</option><option value="8.5">8.5</option><option value="9">9</option><option value="9.5">9.5</option><option value="10">10</option><option value="10.5">10.5</option><option value="11">11</option><option value="11.5">11.5</option><option value="12">12</option><option value="13">13</option><option value="14">14</option></select>
        </div>
      </div>
    </div>

    <div class="mega-menu__product-actions">
      <a href="/products/elliot-balmoral-boots" class="button mega-menu__product-url js-mega-menu__url btn btn--dark">View More</a>
      <span class="button mega-menu__product-cart js-mega-menu__cart btn btn--scarlet"><span>Add To Cart</span></span>
    </div>
  </div>

  <select id="mega-menu-product-variants" name="id" class="js-mega-menu-product-variants mega-menu__product-variants--general"><option value="29574546980943" data-options="black-7-" selected="selected">black / 7</option><option value="29574547013711" data-options="black-8-">black / 8</option><option value="29574547046479" data-options="black-8.5-">black / 8.5</option><option value="29574547079247" data-options="black-9-">black / 9</option><option value="29574547144783" data-options="black-9.5-">black / 9.5</option><option value="29574547177551" data-options="black-10-">black / 10</option><option value="29574547210319" data-options="black-10.5-">black / 10.5</option><option value="29574547243087" data-options="black-11-">black / 11</option><option value="29574547275855" data-options="black-11.5-">black / 11.5</option><option value="29574547308623" data-options="black-12-">black / 12</option><option value="29574547341391" data-options="black-13-">black / 13</option><option value="29574547374159" data-options="black-14-">black / 14</option><option value="29574547406927" data-options="bordeaux-7-">bordeaux / 7</option><option value="29574547439695" data-options="bordeaux-8-">bordeaux / 8</option><option value="29574547472463" data-options="bordeaux-8.5-">bordeaux / 8.5</option><option value="29574547505231" data-options="bordeaux-9-">bordeaux / 9</option><option value="29574547537999" data-options="bordeaux-9.5-">bordeaux / 9.5</option><option value="29574547570767" data-options="bordeaux-10-">bordeaux / 10</option><option value="29574547603535" data-options="bordeaux-10.5-">bordeaux / 10.5</option><option value="29574547636303" data-options="bordeaux-11-">bordeaux / 11</option><option value="29574547669071" data-options="bordeaux-11.5-">bordeaux / 11.5</option><option value="29574547701839" data-options="bordeaux-12-">bordeaux / 12</option><option value="29574547734607" data-options="bordeaux-13-">bordeaux / 13</option><option value="29574547767375" data-options="bordeaux-14-">bordeaux / 14</option><option value="29574548226127" selected="selected" data-options="tan-7-">tan / 7</option><option value="29574548258895" data-options="tan-8-">tan / 8</option><option value="29574548291663" data-options="tan-8.5-">tan / 8.5</option><option value="29574548357199" data-options="tan-9-">tan / 9</option><option value="29574548389967" data-options="tan-9.5-">tan / 9.5</option><option value="29574548422735" data-options="tan-10-">tan / 10</option><option value="29574548455503" data-options="tan-10.5-">tan / 10.5</option><option value="29574548488271" data-options="tan-11-">tan / 11</option><option value="29574548521039" data-options="tan-11.5-">tan / 11.5</option><option value="29574548553807" data-options="tan-12-">tan / 12</option><option value="29574548586575" data-options="tan-13-">tan / 13</option><option value="29574548619343" data-options="tan-14-">tan / 14</option><option value="31748352114767" data-options="oak-7-">oak / 7</option><option value="31748352671823" data-options="oak-8-">oak / 8</option><option value="31748352868431" data-options="oak-8.5-">oak / 8.5</option><option value="31748352901199" data-options="oak-9-">oak / 9</option><option value="31748353065039" data-options="oak-9.5-">oak / 9.5</option><option value="31748353851471" data-options="oak-10-">oak / 10</option><option value="31748354080847" data-options="oak-10.5-">oak / 10.5</option><option value="31748354211919" data-options="oak-11-">oak / 11</option><option value="31748354375759" data-options="oak-11.5-">oak / 11.5</option><option value="31748354965583" data-options="oak-12-">oak / 12</option><option value="31748354998351" data-options="oak-13-">oak / 13</option><option value="31748355194959" data-options="oak-14-">oak / 14</option><option value="31848639594575" data-options="brown-7-">brown / 7</option><option value="31848639791183" data-options="brown-8-">brown / 8</option><option value="31848639889487" data-options="brown-8.5-">brown / 8.5</option><option value="31848639955023" data-options="brown-9-">brown / 9</option><option value="31848639987791" data-options="brown-9.5-">brown / 9.5</option><option value="31848640020559" data-options="brown-10-">brown / 10</option><option value="31848640053327" data-options="brown-10.5-">brown / 10.5</option><option value="31848640086095" data-options="brown-11-">brown / 11</option><option value="31848640118863" data-options="brown-11.5-">brown / 11.5</option><option value="31848640151631" data-options="brown-12-">brown / 12</option><option value="31848640184399" data-options="brown-13-">brown / 13</option><option value="31848640249935" data-options="brown-14-">brown / 14</option></select>
  <form method="post" action="/cart/add" id="product-form-template--17249192116512__main" accept-charset="UTF-8" class="form js-megamenu-product-form" style="display:none" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="id" value="44189912138016">
    <div class="product-form__buttons">
      <button type="submit" name="add" class="product-form__submit button button--full-width button--secondary" aria-haspopup="dialog">
        <span>Add to cart
  </span>
        <div class="loading-overlay__spinner hidden">
          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
  </div></form>
</div>