
{{ 'photoswipe.css' | asset_url | stylesheet_tag }}
<script src="{{ 'photoswipe.min.js' | asset_url }}" defer="defer"></script>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true"><div class="pswp__bg"></div><div class="pswp__scroll-wrap"><div class="pswp__container"><div class="pswp__item"></div><div class="pswp__item"></div><div class="pswp__item"></div></div><div class="pswp__ui pswp__ui--hidden"><div class="pswp__top-bar"><div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button><button class="pswp__button pswp__button--share" title="Share"></button><button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button><button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button><div class="pswp__preloader"><div class="pswp__preloader__icn"><div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div></div></div></div><div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"><div class="pswp__share-tooltip"></div></div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button><button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button><div class="pswp__caption"><div class="pswp__caption__center"></div></div></div></div></div>

<script type="text/javascript">
window.addEventListener('load', function() {
    $(document).ready(function(){
        var $pswp = $('.pswp')[0],
            image = [],
            getItems = function(){
                var items = [];
                $('.js-slick-product-media_for_photoswipe .product__modal-opener').each(function(){
                    var $href = $(this).find('img').attr('src'),
                        $size = $(this).find('img').data('size').split('x'),
                        item  = { src: $href, w: $size[0], h: $size[1] }
                    items.push(item);
                });
              
                return items;                
            }
        var items = getItems();

        $.each(items, function(index, value) {
            image[index] = new Image();
            image[index].src = value['src'];
        });
        $('.product-btn').click(function(event) {
            event.preventDefault();
            var $index = $(".js-slick-product-media .product__modal-opener .product__modal-opener").attr('data-slick-index');
            $index++;
            $index = $index-1;

            var options = { index: $index, bgOpacity: 0.9, showHideOpacity: true, loop: true }
            var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
            lightBox.init();
        });


     
    });
});
</script>