{% style %}
  .product-toolbar__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
  .product-toolbar--visible .product-toolbar {
    opacity: 1;
    bottom: 0;
        padding: 10px  18px 0px;
}
  .product-toolbar {
    background: #fff;
    box-shadow: 0 2px 20px -1px rgb(0 0 0 / 10%);
    left: 0;
    opacity: 0;
    padding: 10px 0;
    position: fixed;
    right: 0;
    bottom: -85px;
    transition: opacity .2s ease,top .2s ease,bottom .2s ease;
    z-index: 2;
}
  .product-toolbar__actions {
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
}
  .product-toolbar__button .product-header__shipping-info {
    color: #1c1c1c;
    margin-top: 0;
    font-style: normal;
}
.product-header__shipping-info {
    font-family: nunito-sans,Arial,sans-serif;
    font-size: 1rem;
}
  @media (max-width: 64.0625rem)
.product-toolbar__button {
    width: 100%;
}
  .product-header__button {
    font-family: nunito-sans--bold,Arial,sans-serif;
    padding: 13px 0;
    width: 100%;
}
  }
{% endstyle %}  
<section class="product-toolbar medium-up-hide">
<div class="product-toolbar__actions  product-toolbar__actions--mobile">
  <div class="product-toolbar__button">
    <div class="button btn btn--scarlet product-header__button js-product-scroll-top">
    <span>Select Options</span></div>
    <p class="product-header__shipping-info">Free shipping. Free returns. Free exchanges.</p>
  </div>
</div>
</section>  
{% schema %}
  {
    "name": "product toolbar",
    "settings": [],
    "presets": [
      {
        "name": "product toolbar"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}