.color-golden {
    background-color: #FFD700 !important;
}
.color-blue {
    background-color: #0018F9 !important;
}
.color-black {
    background-color: #000000 !important;
}
.color-champagne {
    background-color: #F7E7CE !important;
}
.color-beige {
    background-color: #DDC7A0 !important;
}
.color-white {
    background-color: #FFFFFF !important;
}
.color-pink {
    background-color: #FFC0CB !important;
}
.color-tan {
    background-color: #D2B48C !important;
}
.color-green {
    background-color: #00FF00 !important;
}
.color-maroon {
    background-color: #800000 !important;
}
.color-brown {
    background-color: #964B00 !important;
}
.color-peach {
    background-color: #FFE5B4 !important;
}